<h1 class="title is-3 has-text-white">Traviato the mapper</h1>

<div class="btn btn-warning ">
    <%= link_to 'Listings', sources_path(content: 'listings'), class: "btn" %>
</div>

<div class="btn btn-info ">
    <%= link_to 'Reviews', sources_path(content: 'reviews'), class: "btn" %>
</div>